In [1]:
import pandas as pd
import numpy as np

In [5]:
# conda list

In [4]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [6]:
dataset = pd.read_csv(url, sep='\t')

In [7]:
dataset.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [9]:
dataset.shape

(4622, 5)

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [71]:
dataset.describe(include='all')

           order_id     quantity     item_name choice_description   item_price
count   4622.000000  4622.000000          4622               3376  4622.000000
unique          NaN          NaN            50               1043          NaN
top             NaN          NaN  Chicken Bowl        [Diet Coke]          NaN
freq            NaN          NaN           726                134          NaN
mean     927.254868     1.075725           NaN                NaN     7.464336
std      528.890796     0.410186           NaN                NaN     4.245557
min        1.000000     1.000000           NaN                NaN     1.090000
25%      477.250000     1.000000           NaN                NaN     3.390000
50%      926.000000     1.000000           NaN                NaN     8.750000
75%     1393.000000     1.000000           NaN                NaN     9.250000
max     1834.000000    15.000000           NaN                NaN    44.250000

# How many products cost more than $10.00?

In [20]:
dataset['item_price'] = dataset['item_price'].str.replace('$', '').astype(float)

In [21]:
dataset.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [29]:
dataset['item_name'][dataset['item_price']>10.00].unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chicken Crispy Tacos', 'Chicken Salad', 'Steak Salad Bowl',
       'Bowl', 'Veggie Soft Tacos', 'Barbacoa Soft Tacos',
       'Carnitas Crispy Tacos', 'Carnitas Salad Bowl',
       'Barbacoa Salad Bowl', 'Chips and Fresh Tomato Salsa',
       'Steak Soft Tacos', 'Carnitas Soft Tacos', 'Steak Crispy Tacos',
       'Chips and Guacamole', '6 Pack Soft Drink', 'Bottled Water',
       'Side of Chips'], dtype=object)

In [30]:
dataset['item_name'][dataset['item_price']>10.00].nunique()

31

# What is the price of each item?

In [78]:
dataset[dataset['quantity']==1]\
    .groupby(by='item_name')['item_price']\
    .first()

item_name
6 Pack Soft Drink                         6.49
Barbacoa Bowl                            11.75
Barbacoa Burrito                          8.99
Barbacoa Crispy Tacos                    11.75
Barbacoa Salad Bowl                      11.89
Barbacoa Soft Tacos                       9.25
Bottled Water                             1.09
Bowl                                      7.40
Burrito                                   7.40
Canned Soda                               1.09
Canned Soft Drink                         1.25
Carnitas Bowl                             8.99
Carnitas Burrito                          8.99
Carnitas Crispy Tacos                     9.25
Carnitas Salad                            8.99
Carnitas Salad Bowl                      11.89
Carnitas Soft Tacos                       9.25
Chicken Bowl                             10.98
Chicken Burrito                           8.49
Chicken Crispy Tacos                      8.75
Chicken Salad                            10.98
Chicken Salad Bowl                        8.75
Chicken Soft Tacos                        8.75
Chips                                     2.15
Chips and Fresh Tomato Salsa              2.39
Chips and Guacamole                       4.45
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Roasted Chili Corn Salsa        2.95
Chips and Roasted Chili-Corn Salsa        2.39
Chips and Tomatillo Green Chili Salsa     2.95
Chips and Tomatillo Red Chili Salsa       2.95
Chips and Tomatillo-Green Chili Salsa     2.39
Chips and Tomatillo-Red Chili Salsa       2.39
Crispy Tacos                              7.40
Izze                                      3.39
Nantucket Nectar                          3.39
Salad                                     7.40
Side of Chips                             1.69
Steak Bowl                                8.99
Steak Burrito                            11.75
Steak Crispy Tacos                        9.25
Steak Salad                               8.99
Steak Salad Bowl                         11.89
Steak Soft Tacos                          9.25
Veggie Bowl                              11.25
Veggie Burrito                           11.25
Veggie Crispy Tacos                       8.49
Veggie Salad                              8.49
Veggie Salad Bowl                        11.25
Veggie Soft Tacos                        11.25
Name: item_price, dtype: float64

In [79]:
# dataset['item_price'].unique()

# Sort by the name of the item

In [37]:
dataset.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

# What was the quantity of the most expensive item ordered?

In [38]:
dataset['item_price'].max()

44.25

In [40]:
dataset[dataset['item_price'] == dataset['item_price'].max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

#  How many times was a Veggie Salad Bowl ordered?

In [47]:
# dataset['item_name'][dataset['item_name']=='Veggie Salad']

In [58]:
dataset[dataset['item_name']=='Veggie Salad Bowl']['quantity'].sum()

18

# How many times did someone order more than one Canned Soda?

In [54]:
dataset.groupby(by='item_name')['quantity'].value_counts()

item_name              quantity
6 Pack Soft Drink      1           53
                       2            1
Barbacoa Bowl          1           66
Barbacoa Burrito       1           91
Barbacoa Crispy Tacos  1           10
                                   ..
Veggie Crispy Tacos    1            1
Veggie Salad           1            6
Veggie Salad Bowl      1           18
Veggie Soft Tacos      1            6
                       2            1
Name: quantity, Length: 103, dtype: int64

In [67]:
dataset[(dataset['item_name']=='Canned Soda') & (dataset['quantity']>1)].shape[0]

20